<div class="block-1">
    <div class="image">
        <img src="../../assets/images/1.png"/>
    </div>
    <div class="content">
        <h1>"Chất lượng bền bỉ,</h1>
        <h1>phong cách truyền cảm hứng"</h1>
        <p>("Quality that endures, Style that inspires")</p>
    </div>
</div>
<div class="block-2">
    <div class="block-white">
        <img src="../../assets/images/2.png"/>
        <p>   Xin chào mọi người, chúng mình là một nhóm sinh viên đầy nhiệt huyết đến từ trường đại học, nơi chúng mình cùng chia sẻ chung một tầm nhìn. Một nền tảng bán đồng hồ nơi những “Watchers” có thể tin tưởng sử dụng. Tại The Watchers, chúng mình hiểu rằng một chiếc đồng hồ không chỉ đơn thuần là công cụ để đo thời gian mà còn là sự phản ánh hữu hình một phần cá tính bản thân người đeo.
            Chính vì vậy, chúng mình đã phát triển một cửa hàng trực tuyến, nơi bất kì ai có nhu cầu có thể tìm thấy những mẫu đồng hồ không chỉ đẹp mắt mà còn có giá cả phải chăng, từ những phiên bản cổ điển mang hơi thở của thời gian đến những mẫu hiện đại nhất thị trường.</p> 
    </div>
</div>
<div class="block-1">
    <div class="image-wrapper">
        <img class="image" src="../../assets/images/3.png"/>
        
        <div class="content-wrapper">
            <div class="content-2">
                <p>   Nhờ vào các nhà cung cấp toàn cầu đáng tin cậy, quy trình bán hàng hiệu quả và đội ngũ nhân viên nhiệt huyết, chúng mình luôn cập nhật những mẫu mã và thiết kế mới nhất, đảm bảo không làm phụ lòng những khách hàng khó tính nhất!
                    Dù bạn đang tìm kiếm những chiếc đồng hồ thanh mảnh để sử dụng hàng ngày hay những mẫu xa xỉ cho những dịp đặc biệt, The Watchers chính là nơi phù hợp nhất. Sự hài lòng của khách hàng luôn là niềm vui lớn nhất của chúng mình!</p>
            </div>
            <img class="image-3" src="../../assets/images/4.png"/>
        </div>
    </div>
</div>


