<head>    
    <link rel="stylesheet" href="../../assets/themify-icons-font/themify-icons/themify-icons.css">
</head>
<div class="footer">
    <div class="support-info">
        <a href="https://web.facebook.com/people/The-Watcher/61566804780820" target="_blank">
            <i class="ti-facebook"></i>
        </a>
        <div class="info">
            <h3>Hỗ trợ tư vấn</h3>
            <p>Tư vấn chi tiết thông qua Facebook</p>
        </div>
    </div>
    <div class="footer-info">
        <h3>THE WATCHERS</h3>
        <p>Hotline: 0349940758</p>
        <p>Email: thewatchersdropship&#64;gmail.com</p>
    </div> 
</div>