<head>    
    <link rel="stylesheet" href="../../assets/themify-icons-font/themify-icons/themify-icons.css">
</head>
<div class="footer">
    <div class="footer-icons">
        <a href="https://www.facebook.com/" target="_blank">
            <i class="ti-facebook"></i>
        </a>
        <i class="ti-instagram"></i>
    </div>
    <div class="footer-info">
        <h3>THE WATCHERS</h3>
        <p>Hotline: 0123983247</p>
        <p>Email: thewatchersdropship&#64;gmail.com</p>
    </div> 
</div>