<head>    
    <link rel="stylesheet" href="../../assets/themify-icons-font/themify-icons/themify-icons.css">
</head>
<header>
    <div class="logo">
        <h1>THE WATCHERS</h1>
    </div>
    <div class="icons">
        <input class="icon-input input-search" type="text" placeholder="Search" [(ngModel)]="searchText">
        <a [href]="'/search/'+searchText"><i class="ti-search icon-header"></i></a>
        <a href="/cart" class="cart-container">
            <i class="ti-bag icon-header cart-icons"></i>
            <span class="cart-quantity" *ngIf="cartQuantity > 0">{{ cartQuantity }}</span>
        </a>
    </div>
</header>
<nav>
    <ul>
        <li><a href="/home">Khám phá</a></li>
        <li><a href="/market">Gian hàng</a></li>
        <li><a href="/aboutus">Thông tin</a></li>
        <li><a href="/blog">Blog</a></li>
    </ul>
</nav>