<div class="product-card">
    <a [href]="'/product/' + id">
        <div class="image">
            <img [src]="image" class="product">
        </div>
    </a>
    <div class="product-info">
        <div class="product-info-name-and-price">
            <div class="name-and-price">
                <p class="name-product">{{ name }}</p> 
                <p class="price">Price: ${{ price.toFixed(2) }} USD</p> 
            </div>
            <i class="ti-bag icon-bag" (click)="addToCart()" style="cursor: pointer;"></i>
        </div>
        <div class="block-buy">
            <div class="ratings">
                <span>{{ '★'.repeat(rating) }}{{ '☆'.repeat(5 - rating) }}</span> 
                <p>{{ numberRating }} Đánh giá</p> 
            </div>
            <a [href]="id" target="_blank">
                <button class="buy-now">Mua Ngay</button>
            </a>
        </div>
    </div>
</div>
