<head>
    <link rel="icon" type="image/x+xml" href="../../assets/favi/logo.ico">
</head>
<div class="container">
    <div class="slide">
        <img src="https://spinnaker-watches.com/cdn/shop/files/SP-5098_WEB_HOME_DESK3.jpg?v=1726203411%201600w" class="bannerimage">
    </div>
    <section class="main">
        <div class="header">
            <h2>Hòa mình vào những xu hướng thường nhật</h2>
            <div class="filter-buttons">
                <a href="/market">
                    <button class="best-sellers">Xem thêm</button>
                </a>
            </div>
        </div>
        <div class="block">
            <div class="ads-block">
                <img src="https://spinnaker-watches.com/cdn/shop/files/homepage_block04_1280x_crop_center.jpg?v=1709541952%201280w" class="adsimage">
            </div>
            <div class="product-grid">
                <app-product
                    [id]="1"
                    [image]="'https://spinnaker-watches.com/cdn/shop/files/SP-5100-02-Q_1220x_crop_center.png?v=1684739231'"
                    [name]="'Croft Mid-Size Automatic - Nomad'"
                    [price]="7050000.00"
                    [rating]="5"
                    [numberRating]="58"
                    [href]="'https://spinnaker-watches.com/products/croft-mid-size-nomad-sp-5100-02'"
                ></app-product>
                <app-product
                    [id]="2"
                    [image]="'http://spinnaker-watches.com/cdn/shop/files/SP-5100-11-Q_1220x_crop_center.png?v=1684739223'"
                    [name]="'Croft Mid-Size Automatic - Elemental'"
                    [price]="8810000.00"
                    [rating]="4.5"
                    [numberRating]="55"
                    [href]="'https://spinnaker-watches.com/products/croft-mid-size-elemental-sp-5100-11'"
                ></app-product>
                <app-product
                    [id]="39"
                    [image]="'https://spinnaker-watches.com/cdn/shop/files/SP-5098-66-Q_1220x_crop_center.png?v=1722486257'"
                    [name]="'Piccard Automatic - Dark Purple'"
                    [price]="13850000.00"
                    [rating]="5"
                    [numberRating]="14"
                    [href]="'https://spinnaker-watches.com/products/piccard-automatic-dark-purple-sp-5098-66'"
                ></app-product>
            </div>
        </div>
    </section>
</div>