<head>
    <link rel="icon" type="image/x+xml" href="../../assets/favi/logo.ico">
</head>
<div class="container">
    <div class="slide">
        <img src="https://spinnaker-watches.com/cdn/shop/files/SP-5098_WEB_HOME_DESK3.jpg?v=1726203411%201600w" class="bannerimage">
    </div>
    <section class="main">
        <div class="header">
            <h2>Immerse Yourself in Everyday Looks</h2>
            <div class="filter-buttons">
                <a href="/market">
                    <button class="best-sellers">More</button>
                </a>
            </div>
        </div>
        <div class="block">
            <div class="ads-block">
                <img src="https://spinnaker-watches.com/cdn/shop/files/homepage_block04_1280x_crop_center.jpg?v=1709541952%201280w" class="adsimage">
            </div>
            <div class="product-grid">
                <app-product
                    [id]="1"
                    [urlImage]="'https://spinnaker-watches.com/cdn/shop/files/SP-5100-01-Q_1220x_crop_center.png?v=1684739209'"
                    [name]="'Fleuss Automatic'"
                    [price]="199.00"
                    [rating]="4"
                    [numberRating]="5"
                    [linkHref]="'https://www.spinnaker-watches.com/products/fleuss-oxblood-sp-5055-07?sca_ref=7058804.38lXpcVPEe'"
                ></app-product>
                <app-product
                    [id]="2"
                    [urlImage]="'https://spinnaker-watches.com/cdn/shop/files/SP-5062-33-Q_1220x_crop_center.png?v=1717481637%201220w'"
                    [name]="'Bradner Automatic'"
                    [price]="189.00"
                    [rating]="4.5"
                    [numberRating]="10"
                    [linkHref]="'https://www.spinnaker-watches.com/products/bradner-emerald-green-sp-5062-33?sca_ref=7058804.38lXpcVPEe'"
                ></app-product>
                <app-product
                    [id]="3"
                    [urlImage]="'https://spinnaker-watches.com/cdn/shop/files/SP-5100-02-Q_1220x_crop_center.png?v=1684739231%201220w'"
                    [name]="'Croft Mid-Size Automatic'"
                    [price]="179.00"
                    [rating]="5"
                    [numberRating]="7"
                    [linkHref]="'https://spinnaker-watches.com/products/croft-mid-size-nomad-sp-5100-02?sca_ref=7058804.38lXpcVPEe'"
                ></app-product>
            </div>
        </div>
    </section>
</div>